
    .auto-stylem {
        width:100%;
       margin-top: 0px;
       
    }
  


    

   
    .auto-style11 {
        font-size: x-large;
        text-align: center;
        color: #00FF00;
    }
      


    .auto-style18 {
        width: 100%;
    margin-right: 0px;
}
    .auto-style19 {
        
        background-color: #FFFF00;
        width: 220px;
    font-size: large;
}
  

   
 .auto-style20 {
        width:100%;
       margin-right:0px;
    }
  


      

    .auto-style23 {
        width: 79px;
    }
    .auto-style24 {
        font-size: 48pt;
        color: #FFFFFF;
       text-align: center;
   }
    


    .auto-style25 {
        width: 267px;
    }
    


    .auto-style26 {
        width: 102%;
        margin-right: 0px;
    }

    .auto-style27 {
        width: 100%;
        margin-top: 0px;
    }

    .auto-style28 {
        font-size: x-large;
        color: #00FF00;
    }
    

    .auto-style29 {
        text-align: left;
        font-size: x-large;
        color: #00FF00;
        height: 33px;
        background-color: #99CCFF;
    }
        
 

    .auto-style30 {
        color: #00FF00;
        font-size: x-large;
    }
        
     

    .auto-style31 {
        font-size: large;
    }


    .Fore_Color{
        color: #FF0000;
    
}



     .auto-style33 {
        color: #FFFFFF;
    }

    .auto-style35 {
        text-align: center;
    }



    
    .auto-style33 {
        font-size: x-large;
        color: #333300;
    }
    .auto-style34 {
        font-size: x-large;
        text-align: center;
        color: #333300;
    }
    .auto-style35 {
        text-align: center;
        font-size: x-large;
        color: #333300;
        height: 33px;
        background-color: #99CCFF;
        width: 1081px;
    }
  

    .newStyle1 {
        font-family: "comic Sans MS";
    }
    .auto-style36 {
        font-family: "comic Sans MS";
        font-size: xx-large;
    }
    .auto-style37 {
        color: #0066FF;
    }
  

    .auto-style40 {
        text-align: left;
    }
  

    .auto-style41 {
        width: 321px;
    }
    .auto-style42 {
        text-align: center;
        width: 321px;
    }
  

    .auto-style44 {
        color: #000000;
        text-align: left;
    }
  

    .auto-style45 {
        color: #FFFFFF;
    }
  

    .auto-style46 {
        color: #FFFFFF;
        
    }
    .auto-style47 {
        font-size: x-large;
    color: #0000FF;
}
    .auto-style48 {
        font-size: xx-large;
    }
  

    .auto-style49 {
        color: #FFFFFF;
        text-align: center;
        font-size: x-large;
    }
  

    .auto-style50 {
        width: 95px;
    }
    .auto-style51 {
        width: 778px;
    }


    .auto-style53 {
        text-align: left;
        width: 321px;
    }

     
    .auto-style54 {
        width: 100%;
    }


    .auto-style55 {
        width: 400px;
    }

   .auto-style56 {
        font-size: x-large;
        color: #FFFFFF;
    }



    .auto-style57 {
        font-size: large;
        color: #FFFFFF;
    }


    .auto-style58 {
        width: 320px;
        height: 72px;
    }

    .auto-style59 {
        width: 319px;
        height: 47px;
    }
    .auto-style60 {
        width: 319px;
        height: 58px;
    }




         

       

    .auto-style62 {
        text-align: center;
        font-size: large;
    }
    .auto-style63 {
        text-align: center;
        width: 321px;
        font-size: large;
    }



   
  

    
      

       

    .newStyle2 {
        font-family: Calibri;
    }
    .auto-style64 {
        color: #0066FF;
        font-size: xx-large;
    }


       

    .auto-style65 {
        font-size: x-large;
        color: #000000;
    }

       

    .auto-style66 {
        text-align: center;
        font-size: xx-large;
    }
   

    .auto-style67 {
        color: #00FFFF;
        font-size: x-large;
        background-color: #FF0000;
    }

    

    .auto-style62 {
        text-align: center;
        font-size: large;
    }
    .auto-style63 {
        text-align: center;
        width: 321px;
        font-size: large;
    }
   

    .newStyle2 {
        font-family: Calibri;
    }
    .auto-style64 {
        color: #0066FF;
        font-size: xx-large;
    }

   
    .auto-style65 {
        font-size: x-large;
        color: #000000;
    }
     

    .auto-style66 {
        text-align: center;
        font-size: xx-large;
    }


    .auto-style67 {
        color: #00FFFF;
        font-size: x-large;
        background-color: #FF0000;
    }


    .auto-style68 {
        color: #00FFFF;
    }


    .auto-style69 {
        width: 321px;
        font-size: large;
    }