   .auto-style1 {
            text-decoration: underline;
        }
        .auto-style2 {
            color: #FFFFFF;
        }
        .auto-style3 {
            color: #FFFFFF;
            text-decoration: underline;
        }
        .auto-style4 {
            width: 100%;
            border: 3px double #000080;
            margin-top: 11px;
            background-color: #C0C0C0;
        }
        .auto-style5 {
            width: 137px;
        }
        .auto-style6 {
            width: 113px;
        }
        .auto-style8 {
            width: 113px;
            height: 64px;
        }
        .auto-style10 {
            height: 64px;
        }
        .auto-style11 {
            width: 137px;
            height: 64px;
        }
        .auto-style12 {
            width: 470px;
            height: 64px;
        }
        .auto-style13 {
            font-size: large;
        }
        .auto-style14 {
            width: 113px;
            height: 47px;
        }
        .auto-style15 {
            width: 470px;
            height: 47px;
        }
        .auto-style17 {
            width: 137px;
            height: 47px;
        }
        .auto-style18 {
            height: 47px;
        }
        .auto-style19 {
            height: 47px;
            width: 141px;
        }
        .auto-style20 {
            width: 141px;
        }
        .auto-style21 {
            height: 47px;
            width: 180px;
        }
        .auto-style22 {
            width: 180px;
        }
        .auto-style23 {
            width: 7%;
            height: 67px;
        }
        .auto-style25 {
            height: 67px;
            width: 46%;
        }
        .auto-style26 {
            width: 7%;
        }
        .auto-style27 {
            height: 25px;
            width: 350px;
        }
        .auto-style28 {
            width: 46%;
            height: 25px;
        }
        .auto-style29 {
            height: 67px;
            width: 350px;
        }
        .auto-style30 {
            width: 7%;
            font-size: large;
        }
        .auto-style31 {
            font-size: x-large;
        }
        .auto-style34 {
            font-size: large;
        }
        .auto-style35 {
            width: 46%;
        }
        .auto-style36 {
            font-size: large;
            height: 28px;
        }
        .auto-style37 {
            height: 25px;
            width: 350px;
            font-size: large;
        }
        .auto-style38 {
            height: 23px;
            width: 350px;
            font-size: large;
        }
        .auto-style39 {
            width: 46%;
            height: 23px;
        }
        .auto-style40 {
            text-decoration: underline;
            font-size: xx-large;
        }
        .auto-style41 {
            font-size: x-large;
            text-decoration: underline;
            background-color: #99CCFF;
        }
        .auto-style42 {
            text-decoration: underline;
            font-size: large;
        }
        .auto-style43 {
            background-color: #99CCFF;
        }
        .auto-style44 {
            text-decoration: underline;
            font-size: x-large;
            background-color: #99CCFF;
        }
        .auto-style45 {
            color: #000000;
            text-decoration: underline;
            font-size: large;
        }
        .auto-style46 {
            text-decoration: underline;
            font-size: x-large;
            color: #000000;
        }
        .auto-style47 {
            font-size: large;
            color: #000000;
            background-color: #99CCFF;
        }
        .auto-style48 {
            text-decoration: underline;
            font-size: x-large;
        }
        .auto-style49 {
            font-size: large;
            background-color: #99CCFF;
        }
        .auto-style50 {
            text-decoration: underline;
            color: #000000;
        }body {
}
